# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
GITHUB_ACCESS_TOKEN=ghp_xxxxx...
GITHUB_TEMPLATE_OWNER=itbd-org
GITHUB_TEMPLATE_REPO=itbd-boilerplate-v1